.elementor-5917 .elementor-element.elementor-element-ca75d86 > .elementor-container{max-width:1050px;}.elementor-5917 .elementor-element.elementor-element-ca75d86{padding:50px 20px 15px 20px;}.elementor-5917 .elementor-element.elementor-element-c146ddf{width:var( --container-widget-width, 720px );max-width:720px;--container-widget-width:720px;--container-widget-flex-grow:0;text-align:center;}.elementor-5917 .elementor-element.elementor-element-c146ddf > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-c146ddf .elementor-heading-title{font-size:64px;font-weight:600;line-height:1em;color:#283C6B;}.elementor-5917 .elementor-element.elementor-element-ed5e932{margin-top:20px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-b8d1631 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-4bd812c .elementor-button{background-color:#A6E4FF;font-size:18px;font-weight:600;text-decoration:none;text-shadow:0px 0px 10px rgba(0,0,0,0.3);fill:#192950;color:#192950;box-shadow:5px 20px 40px 0px rgba(6.999999999999996, 16.00000000000005, 46, 0.25);border-style:solid;border-width:1px 1px 1px 1px;border-color:#A6E4FF;border-radius:100px 100px 100px 100px;padding:15px 23px 15px 23px;}.elementor-5917 .elementor-element.elementor-element-4bd812c .elementor-button:hover, .elementor-5917 .elementor-element.elementor-element-4bd812c .elementor-button:focus{background-color:#192950;color:#FFFFFF;border-color:#192950;}.elementor-5917 .elementor-element.elementor-element-4bd812c{width:auto;max-width:auto;}.elementor-5917 .elementor-element.elementor-element-4bd812c .elementor-button:hover svg, .elementor-5917 .elementor-element.elementor-element-4bd812c .elementor-button:focus svg{fill:#FFFFFF;}.elementor-5917 .elementor-element.elementor-element-be6b015 > .elementor-container{max-width:1110px;}.elementor-5917 .elementor-element.elementor-element-be6b015{padding:15px 20px 60px 20px;}.elementor-5917 .elementor-element.elementor-element-ed40a4a > .elementor-element-populated, .elementor-5917 .elementor-element.elementor-element-ed40a4a > .elementor-element-populated > .elementor-background-overlay, .elementor-5917 .elementor-element.elementor-element-ed40a4a > .elementor-background-slideshow{border-radius:15px 15px 15px 15px;}.elementor-5917 .elementor-element.elementor-element-ed40a4a > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-5917 .elementor-element.elementor-element-ed40a4a > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-08d2925 .swiper-slide-bg{background-color:#FFFFFF;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-08d2925 .swiper-slide-inner .elementor-slide-heading{color:#192950;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-08d2925 .swiper-slide-inner .elementor-slide-description{color:#192950;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-08d2925 .swiper-slide-inner .elementor-slide-button{color:#192950;border-color:#192950;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-e077d00 .swiper-slide-bg{background-color:#FFFFFF;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-e077d00 .swiper-slide-inner .elementor-slide-heading{color:#192950;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-e077d00 .swiper-slide-inner .elementor-slide-description{color:#192950;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-e077d00 .swiper-slide-inner .elementor-slide-button{color:#192950;border-color:#192950;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-426fe95 .swiper-slide-bg{background-color:#FFFFFF;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-426fe95 .swiper-slide-inner .elementor-slide-heading{color:#192950;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-426fe95 .swiper-slide-inner .elementor-slide-description{color:#192950;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-repeater-item-426fe95 .swiper-slide-inner .elementor-slide-button{color:#192950;border-color:#192950;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-slide{transition-duration:calc(5000ms*1.2);height:75px;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-slide-contents{max-width:100%;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-slide-inner{padding:0px 0px 0px 0px;text-align:left;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-slide-inner .elementor-slide-heading:not(:last-child){margin-bottom:0px;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-slide-inner .elementor-slide-description:not(:last-child){margin-bottom:0px;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-slide-description{font-size:16px;font-weight:700;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-slide-button{border-radius:10px;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-pagination-bullet{--swiper-pagination-bullet-horizontal-gap:8px;--swiper-pagination-bullet-vertical-gap:8px;height:11px;width:11px;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-horizontal .swiper-pagination-progressbar{height:11px;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-pagination-fraction{font-size:11px;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){background-color:#D9D9D9;opacity:1;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-pagination-bullet-active{background-color:#192950;}.elementor-5917 .elementor-element.elementor-element-f0d1e7d:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-5917 .elementor-element.elementor-element-f0d1e7d > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-5917 .elementor-element.elementor-element-f0d1e7d > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-5917 .elementor-element.elementor-element-f0d1e7d > .elementor-element-populated{border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-secondary );transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:5px 5px 5px 5px;--e-column-margin-right:5px;--e-column-margin-left:5px;}.elementor-5917 .elementor-element.elementor-element-f0d1e7d > .elementor-element-populated, .elementor-5917 .elementor-element.elementor-element-f0d1e7d > .elementor-element-populated > .elementor-background-overlay, .elementor-5917 .elementor-element.elementor-element-f0d1e7d > .elementor-background-slideshow{border-radius:15px 15px 15px 15px;}.elementor-5917 .elementor-element.elementor-element-f0d1e7d > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5917 .elementor-element.elementor-element-5dd2a76 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-c2414fb{width:var( --container-widget-width, 338px );max-width:338px;--container-widget-width:338px;--container-widget-flex-grow:0;text-align:center;}.elementor-5917 .elementor-element.elementor-element-c2414fb > .elementor-widget-container{margin:0px 20px 20px 20px;}.elementor-5917 .elementor-element.elementor-element-c2414fb .elementor-heading-title{font-size:22px;font-weight:700;line-height:1.5em;color:#192950;}.elementor-5917 .elementor-element.elementor-element-2d0ce51:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-5917 .elementor-element.elementor-element-2d0ce51 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-5917 .elementor-element.elementor-element-2d0ce51 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-5917 .elementor-element.elementor-element-2d0ce51 > .elementor-element-populated{border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-secondary );transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:5px 5px 5px 5px;--e-column-margin-right:5px;--e-column-margin-left:5px;}.elementor-5917 .elementor-element.elementor-element-2d0ce51 > .elementor-element-populated, .elementor-5917 .elementor-element.elementor-element-2d0ce51 > .elementor-element-populated > .elementor-background-overlay, .elementor-5917 .elementor-element.elementor-element-2d0ce51 > .elementor-background-slideshow{border-radius:15px 15px 15px 15px;}.elementor-5917 .elementor-element.elementor-element-2d0ce51 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5917 .elementor-element.elementor-element-4bf6fd7 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-436acc4{width:var( --container-widget-width, 338px );max-width:338px;--container-widget-width:338px;--container-widget-flex-grow:0;text-align:center;}.elementor-5917 .elementor-element.elementor-element-436acc4 > .elementor-widget-container{margin:0px 20px 20px 20px;}.elementor-5917 .elementor-element.elementor-element-436acc4 .elementor-heading-title{font-size:22px;font-weight:700;line-height:1.5em;color:#192950;}.elementor-5917 .elementor-element.elementor-element-08465e4:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-5917 .elementor-element.elementor-element-08465e4 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-5917 .elementor-element.elementor-element-08465e4 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:30px;}.elementor-5917 .elementor-element.elementor-element-08465e4 > .elementor-element-populated{border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-secondary );transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:5px 5px 5px 5px;--e-column-margin-right:5px;--e-column-margin-left:5px;}.elementor-5917 .elementor-element.elementor-element-08465e4 > .elementor-element-populated, .elementor-5917 .elementor-element.elementor-element-08465e4 > .elementor-element-populated > .elementor-background-overlay, .elementor-5917 .elementor-element.elementor-element-08465e4 > .elementor-background-slideshow{border-radius:15px 15px 15px 15px;}.elementor-5917 .elementor-element.elementor-element-08465e4 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5917 .elementor-element.elementor-element-65553df > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-1f108ae{width:var( --container-widget-width, 338px );max-width:338px;--container-widget-width:338px;--container-widget-flex-grow:0;text-align:center;}.elementor-5917 .elementor-element.elementor-element-1f108ae > .elementor-widget-container{margin:0px 20px 20px 20px;}.elementor-5917 .elementor-element.elementor-element-1f108ae .elementor-heading-title{font-size:22px;font-weight:700;line-height:1.5em;color:#192950;}.elementor-5917 .elementor-element.elementor-element-5b36557{padding:20px 20px 40px 20px;}.elementor-5917 .elementor-element.elementor-element-029a795 > .elementor-container{max-width:1320px;}.elementor-5917 .elementor-element.elementor-element-029a795{padding:40px 20px 40px 20px;}.elementor-5917 .elementor-element.elementor-element-8cd11d4:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-5917 .elementor-element.elementor-element-8cd11d4 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F4F7F9;}.elementor-5917 .elementor-element.elementor-element-8cd11d4 > .elementor-element-populated, .elementor-5917 .elementor-element.elementor-element-8cd11d4 > .elementor-element-populated > .elementor-background-overlay, .elementor-5917 .elementor-element.elementor-element-8cd11d4 > .elementor-background-slideshow{border-radius:40px 40px 40px 40px;}.elementor-5917 .elementor-element.elementor-element-8cd11d4 > .elementor-element-populated{box-shadow:0px 20px 40px 0px rgba(0, 0, 0, 0.1);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-5917 .elementor-element.elementor-element-8cd11d4 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5917 .elementor-element.elementor-element-0e5db32 > .elementor-widget-container{padding:35px 20px 20px 100px;}.elementor-5917 .elementor-element.elementor-element-0e5db32{text-align:left;}.elementor-5917 .elementor-element.elementor-element-0e5db32 .elementor-heading-title{font-size:42px;font-weight:600;line-height:1em;color:#050A21;}.elementor-5917 .elementor-element.elementor-element-a767019 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-5917 .elementor-element.elementor-element-a767019{padding:0px 100px 0px 100px;}.elementor-5917 .elementor-element.elementor-element-2257dab img{width:400px;}.elementor-5917 .elementor-element.elementor-element-e8d1453 > .elementor-widget-container{margin:0px 0px 72px 0px;}.elementor-5917 .elementor-element.elementor-element-e8d1453{font-size:20px;}.elementor-5917 .elementor-element.elementor-element-c7f6d9a > .elementor-widget-container{padding:0px 0px 6px 0px;}.elementor-5917 .elementor-element.elementor-element-c7f6d9a .elementor-heading-title{font-size:20px;font-weight:600;}.elementor-5917 .elementor-element.elementor-element-f502562{width:var( --container-widget-width, 387px );max-width:387px;--container-widget-width:387px;--container-widget-flex-grow:0;--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:10px;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-10px;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-5917 .elementor-element.elementor-element-f502562 .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-5917 .elementor-element.elementor-element-f502562 .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-5917 .elementor-element.elementor-element-f502562 .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-type-html{padding-bottom:0px;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-group .elementor-field{color:#050A21;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-group .elementor-field, .elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-subgroup label{font-size:16px;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-group .elementor-field:not(.elementor-select-wrapper){background-color:#A6E4FF1A;border-color:#E0E0E0;border-width:1px 1px 1px 1px;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-group .elementor-select-wrapper select{background-color:#A6E4FF1A;border-color:#E0E0E0;border-width:1px 1px 1px 1px;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-group .elementor-select-wrapper::before{color:#E0E0E0;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-button{font-size:16px;border-radius:100px 100px 100px 100px;}.elementor-5917 .elementor-element.elementor-element-f502562 .e-form__buttons__wrapper__button-next{background-color:#A6E4FF;color:#192950;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-button[type="submit"]{background-color:#A6E4FF;color:#192950;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-button[type="submit"] svg *{fill:#192950;}.elementor-5917 .elementor-element.elementor-element-f502562 .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-5917 .elementor-element.elementor-element-f502562 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-5917 .elementor-element.elementor-element-f502562 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-5917 .elementor-element.elementor-element-a572540{--divider-border-style:solid;--divider-color:#C2C2C2;--divider-border-width:1px;}.elementor-5917 .elementor-element.elementor-element-a572540 > .elementor-widget-container{margin:30px 100px 25px 100px;}.elementor-5917 .elementor-element.elementor-element-a572540 .elementor-divider-separator{width:100%;}.elementor-5917 .elementor-element.elementor-element-a572540 .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-5917 .elementor-element.elementor-element-f022fff > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-end;align-items:flex-end;}.elementor-5917 .elementor-element.elementor-element-f022fff{padding:0px 100px 0px 100px;}.elementor-5917 .elementor-element.elementor-element-703f4ce > .elementor-widget-container{margin:0px 0px -42px 0px;}.elementor-5917 .elementor-element.elementor-element-9f0f427{width:var( --container-widget-width, 72% );max-width:72%;--container-widget-width:72%;--container-widget-flex-grow:0;}.elementor-5917 .elementor-element.elementor-element-9f0f427 .elementor-heading-title{font-family:"HKGrotesk-Regular", Sans-serif;font-size:20px;font-weight:600;}.elementor-5917 .elementor-element.elementor-element-3cdb1ac > .elementor-widget-container{margin:-20px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-3cdb1ac{text-align:left;}.elementor-5917 .elementor-element.elementor-element-f05f330 > .elementor-widget-container{margin:27px 0px 25px 0px;}.elementor-5917 .elementor-element.elementor-element-f05f330{text-align:left;}.elementor-5917 .elementor-element.elementor-element-db3c945{width:var( --container-widget-width, 542px );max-width:542px;--container-widget-width:542px;--container-widget-flex-grow:0;font-family:"HKGrotesk-SemiBoldLegacyItalic", Sans-serif;font-size:30px;font-weight:600;line-height:1.5em;}.elementor-5917 .elementor-element.elementor-element-ebf167d > .elementor-widget-container{margin:0px 0px 25px 0px;}.elementor-5917 .elementor-element.elementor-element-ebf167d{text-align:right;}.elementor-5917 .elementor-element.elementor-element-3999cb2 > .elementor-container{max-width:1318px;}.elementor-5917 .elementor-element.elementor-element-3999cb2{padding:40px 20px 125px 20px;}.elementor-5917 .elementor-element.elementor-element-3b808d5 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-5917 .elementor-element.elementor-element-3b808d5:not(.elementor-motion-effects-element-type-background), .elementor-5917 .elementor-element.elementor-element-3b808d5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#192950;}.elementor-5917 .elementor-element.elementor-element-3b808d5, .elementor-5917 .elementor-element.elementor-element-3b808d5 > .elementor-background-overlay{border-radius:40px 40px 40px 40px;}.elementor-5917 .elementor-element.elementor-element-3b808d5{box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:46px 40px 46px 40px;}.elementor-5917 .elementor-element.elementor-element-3b808d5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5917 .elementor-element.elementor-element-f3b1203 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-8131b62{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-5917 .elementor-element.elementor-element-c013846{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-5917 .elementor-element.elementor-element-c013846.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-5917 .elementor-element.elementor-element-ba8f834{text-align:center;}.elementor-5917 .elementor-element.elementor-element-ba8f834 img{width:78px;}.elementor-5917 .elementor-element.elementor-element-393b6b9 .elementor-button{background-color:#A6E4FF;font-size:18px;font-weight:600;text-decoration:none;fill:#192950;color:#192950;border-radius:1000px 1000px 1000px 1000px;padding:15px 20px 15px 20px;}.elementor-5917 .elementor-element.elementor-element-393b6b9 .elementor-button:hover, .elementor-5917 .elementor-element.elementor-element-393b6b9 .elementor-button:focus{background-color:#FFFFFF;}.elementor-5917 .elementor-element.elementor-element-393b6b9 > .elementor-widget-container{margin:30px 0px 30px 0px;}.elementor-5917 .elementor-element.elementor-element-71979d6{width:var( --container-widget-width, 262px );max-width:262px;--container-widget-width:262px;--container-widget-flex-grow:0;font-family:"HKGrotesk-Regular", Sans-serif;font-size:20px;font-weight:500;color:#FFFFFF;}.elementor-5917 .elementor-element.elementor-element-c7c1c51{--display:flex;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-5917 .elementor-element.elementor-element-ccb3465{text-align:left;}.elementor-5917 .elementor-element.elementor-element-ccb3465 .elementor-heading-title{font-size:42px;font-weight:600;line-height:1em;color:#FFFFFF;}.elementor-5917 .elementor-element.elementor-element-16166da > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-5917 .elementor-element.elementor-element-16166da{font-size:18px;color:#FFFFFF;}.elementor-5917 .elementor-element.elementor-element-6c24007 > .elementor-widget-container{padding:30px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox .infobox-icon{align-self:center;margin:0px 0px 19px 0px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox .infobox-icon img{width:173px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox.icon-on-left .infobox-icon{width:173px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox.icon-on-right .infobox-icon{width:173px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox .infobox-content .title{color:#FFFFFF;font-family:"HKGrotesk-MediumLegacy", Sans-serif;font-size:18px;font-weight:500;font-style:italic;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox .infobox-content p{color:#FFFFFF;font-family:"HKGrotesk-Regular", Sans-serif;font-size:18px;font-weight:500;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox:hover .infobox-content h4{transition:100ms;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox:hover .infobox-content p{transition:100ms;}.elementor-bc-flex-widget .elementor-5917 .elementor-element.elementor-element-bbdd205.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-5917 .elementor-element.elementor-element-bbdd205.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-5917 .elementor-element.elementor-element-f6db7d0 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-f6db7d0 img{width:427px;}.elementor-5917 .elementor-element.elementor-element-6c5eece{padding:20px 20px 40px 20px;}.elementor-5917 .elementor-element.elementor-element-d240ef0{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:80px;--padding-bottom:80px;--padding-left:20px;--padding-right:20px;}.elementor-5917 .elementor-element.elementor-element-d240ef0:not(.elementor-motion-effects-element-type-background), .elementor-5917 .elementor-element.elementor-element-d240ef0 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F4F7F9;}.elementor-5917 .elementor-element.elementor-element-9f76606 .swiper-pagination-bullet-active, .elementor-5917 .elementor-element.elementor-element-9f76606 .swiper-pagination-progressbar-fill{background-color:#A6E4FF;}.elementor-5917 .elementor-element.elementor-element-9f76606 .swiper-pagination-fraction{color:#A6E4FF;}.elementor-5917 .elementor-element.elementor-element-9f76606 > .elementor-widget-container{background-color:#FFFFFF;border-radius:40px 40px 40px 40px;box-shadow:0px 20px 40px 0px rgba(0, 0, 0, 0.1);}.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-main-swiper .swiper-slide{padding:20px 20px 0px 20px;}.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-swiper-button{font-size:20px;}.elementor-5917 .elementor-element.elementor-element-9f76606 .swiper-pagination-bullet{height:11px;width:11px;}.elementor-5917 .elementor-element.elementor-element-9f76606 .swiper-horizontal .swiper-pagination-progressbar{height:11px;}.elementor-5917 .elementor-element.elementor-element-9f76606 .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){background-color:#F4F7F9;opacity:1;}.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__text{font-family:"HKGrotesk-Regular", Sans-serif;font-size:30px;}.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__name{font-family:"HKGrotesk-Regular", Sans-serif;font-size:20px;font-weight:600;}@media(max-width:1024px){.elementor-5917 .elementor-element.elementor-element-c146ddf .elementor-heading-title{font-size:48px;}.elementor-5917 .elementor-element.elementor-element-4bd812c .elementor-button{font-size:16px;}.elementor-5917 .elementor-element.elementor-element-c2414fb .elementor-heading-title{font-size:18px;}.elementor-5917 .elementor-element.elementor-element-436acc4 .elementor-heading-title{font-size:18px;}.elementor-5917 .elementor-element.elementor-element-1f108ae .elementor-heading-title{font-size:18px;}.elementor-5917 .elementor-element.elementor-element-0e5db32 > .elementor-widget-container{padding:35px 20px 0px 20px;}.elementor-5917 .elementor-element.elementor-element-0e5db32 .elementor-heading-title{font-size:36px;}.elementor-5917 .elementor-element.elementor-element-a767019{padding:0px 20px 0px 20px;}.elementor-5917 .elementor-element.elementor-element-e8d1453 > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-5917 .elementor-element.elementor-element-e8d1453{font-size:18px;}.elementor-5917 .elementor-element.elementor-element-c7f6d9a > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-5917 .elementor-element.elementor-element-a572540 > .elementor-widget-container{margin:20px 20px 20px 20px;}.elementor-5917 .elementor-element.elementor-element-f022fff{padding:0px 20px 0px 20px;}.elementor-5917 .elementor-element.elementor-element-9f0f427 .elementor-heading-title{font-size:18px;}.elementor-5917 .elementor-element.elementor-element-3cdb1ac img{width:50px;}.elementor-5917 .elementor-element.elementor-element-f05f330 > .elementor-widget-container{margin:40px 0px 20px 0px;}.elementor-5917 .elementor-element.elementor-element-db3c945{font-size:22px;}.elementor-5917 .elementor-element.elementor-element-ebf167d img{width:50px;}.elementor-5917 .elementor-element.elementor-element-3999cb2{padding:40px 20px 60px 20px;}.elementor-5917 .elementor-element.elementor-element-3b808d5, .elementor-5917 .elementor-element.elementor-element-3b808d5 > .elementor-background-overlay{border-radius:30px 30px 30px 30px;}.elementor-5917 .elementor-element.elementor-element-3b808d5{padding:26px 20px 26px 20px;}.elementor-5917 .elementor-element.elementor-element-393b6b9 > .elementor-widget-container{margin:20px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-ccb3465 .elementor-heading-title{font-size:36px;}.elementor-5917 .elementor-element.elementor-element-16166da{font-size:16px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox .infobox-content .title{font-size:16px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox .infobox-content p{font-size:16px;}.elementor-5917 .elementor-element.elementor-element-f6db7d0 > .elementor-widget-container{margin:0px 0px 0px -50px;}.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__text{font-size:20px;}.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__name{font-size:16px;}}@media(max-width:813px){.elementor-5917 .elementor-element.elementor-element-ca75d86{padding:30px 10px 10px 10px;}.elementor-5917 .elementor-element.elementor-element-c146ddf .elementor-heading-title{font-size:44px;}.elementor-5917 .elementor-element.elementor-element-ed5e932{margin-top:40px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-b8d1631 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-4bd812c .elementor-button{font-size:14px;padding:8px 15px 8px 15px;}.elementor-5917 .elementor-element.elementor-element-be6b015{padding:40px 10px 30px 10px;}.elementor-5917 .elementor-element.elementor-element-ed40a4a > .elementor-element-populated{margin:10px 0px 10px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-slide-contents{max-width:80%;}.elementor-5917 .elementor-element.elementor-element-f0d1e7d > .elementor-element-populated{margin:10px 0px 10px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-5917 .elementor-element.elementor-element-2d0ce51 > .elementor-element-populated{margin:10px 0px 10px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-5917 .elementor-element.elementor-element-08465e4 > .elementor-element-populated{margin:10px 0px 10px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-5917 .elementor-element.elementor-element-029a795{padding:30px 10px 30px 10px;}.elementor-5917 .elementor-element.elementor-element-8cd11d4 > .elementor-element-populated, .elementor-5917 .elementor-element.elementor-element-8cd11d4 > .elementor-element-populated > .elementor-background-overlay, .elementor-5917 .elementor-element.elementor-element-8cd11d4 > .elementor-background-slideshow{border-radius:30px 30px 30px 30px;}.elementor-5917 .elementor-element.elementor-element-0e5db32 > .elementor-widget-container{padding:20px 0px 0px 10px;}.elementor-5917 .elementor-element.elementor-element-0e5db32 .elementor-heading-title{font-size:24px;}.elementor-5917 .elementor-element.elementor-element-a767019{padding:0px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-5ea570a > .elementor-element-populated{margin:20px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-e8d1453{font-size:16px;}.elementor-5917 .elementor-element.elementor-element-c7f6d9a > .elementor-widget-container{margin:0px 0px 10px 25px;}.elementor-5917 .elementor-element.elementor-element-c7f6d9a .elementor-heading-title{font-size:16px;}.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-group .elementor-field, .elementor-5917 .elementor-element.elementor-element-f502562 .elementor-field-subgroup label{font-size:14px;}.elementor-5917 .elementor-element.elementor-element-f022fff{margin-top:40px;margin-bottom:0px;padding:40px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-9f0f427 .elementor-heading-title{font-size:16px;}.elementor-5917 .elementor-element.elementor-element-f05f330 > .elementor-widget-container{margin:25px 0px 15px 0px;}.elementor-5917 .elementor-element.elementor-element-f05f330 img{width:129px;}.elementor-5917 .elementor-element.elementor-element-db3c945{font-size:20px;}.elementor-5917 .elementor-element.elementor-element-ebf167d > .elementor-widget-container{margin:10px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-3999cb2{padding:30px 10px 30px 10px;}.elementor-5917 .elementor-element.elementor-element-3b808d5, .elementor-5917 .elementor-element.elementor-element-3b808d5 > .elementor-background-overlay{border-radius:10px 10px 10px 10px;}.elementor-5917 .elementor-element.elementor-element-3b808d5{padding:14px 1px 30px 1px;}.elementor-5917 .elementor-element.elementor-element-f3b1203 > .elementor-element-populated{margin:20px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-5917 .elementor-element.elementor-element-8131b62{--flex-direction:column-reverse;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-5917 .elementor-element.elementor-element-c013846{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--flex-wrap:wrap;}.elementor-5917 .elementor-element.elementor-element-2251f8e > .elementor-widget-container{margin:20px 0px 20px 0px;}.elementor-5917 .elementor-element.elementor-element-ba8f834{width:var( --container-widget-width, 64px );max-width:64px;--container-widget-width:64px;--container-widget-flex-grow:0;}.elementor-5917 .elementor-element.elementor-element-ba8f834 img{width:64px;}.elementor-5917 .elementor-element.elementor-element-393b6b9.elementor-element{--order:6;}.elementor-5917 .elementor-element.elementor-element-71979d6{--container-widget-width:155px;--container-widget-flex-grow:0;width:var( --container-widget-width, 155px );max-width:155px;font-size:16px;}.elementor-5917 .elementor-element.elementor-element-71979d6.elementor-element{--order:4;}.elementor-5917 .elementor-element.elementor-element-ccb3465 .elementor-heading-title{font-size:24px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox .infobox-icon img{width:77px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox.icon-on-left .infobox-icon{width:77px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox.icon-on-right .infobox-icon{width:77px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox .infobox-content .title{margin:20px 0px 0px 0px;}.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox .infobox-content p{font-size:14px;}.elementor-5917 .elementor-element.elementor-element-bbdd205 > .elementor-element-populated{margin:40px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-5917 .elementor-element.elementor-element-d240ef0{--padding-top:40px;--padding-bottom:40px;--padding-left:10px;--padding-right:10px;}}@media(min-width:814px){.elementor-5917 .elementor-element.elementor-element-b8d1631{width:100%;}.elementor-5917 .elementor-element.elementor-element-8cd11d4{width:100%;}.elementor-5917 .elementor-element.elementor-element-0b10162{width:40.481%;}.elementor-5917 .elementor-element.elementor-element-5ea570a{width:59.519%;}.elementor-5917 .elementor-element.elementor-element-5e92e05{width:41%;}.elementor-5917 .elementor-element.elementor-element-70fa97b{width:59%;}.elementor-5917 .elementor-element.elementor-element-f3b1203{width:66.502%;}.elementor-5917 .elementor-element.elementor-element-c013846{--width:37.982%;}.elementor-5917 .elementor-element.elementor-element-bbdd205{width:33.498%;}.elementor-5917 .elementor-element.elementor-element-d240ef0{--content-width:1220px;}}@media(max-width:1024px) and (min-width:814px){.elementor-5917 .elementor-element.elementor-element-f3b1203{width:100%;}.elementor-5917 .elementor-element.elementor-element-bbdd205{width:100%;}}/* Start custom CSS for heading, class: .elementor-element-c146ddf */.elementor-5917 .elementor-element.elementor-element-c146ddf {
    margin: auto;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-4bd812c */.elementor-5917 .elementor-element.elementor-element-4bd812c {
    position: fixed;
    bottom: 15%;
    right: 15px;
    margin-left: auto;
    z-index: 99;
}

@media (max-width: 767px) {
    .elementor-5917 .elementor-element.elementor-element-4bd812c {
        bottom: 11%;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b8d1631 */.elementor-5917 .elementor-element.elementor-element-b8d1631 {
    position: relative;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-ed5e932 */@media (max-width: 767px) {
    .elementor-element-b8d1631 {
        padding: 0 !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-b6a1d5f */.elementor-5917 .elementor-element.elementor-element-b6a1d5f {
    position: relative;
    z-index: 9;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-ca75d86 */.elementor-5917 .elementor-element.elementor-element-ca75d86 {
    position: relative
}
.elementor-5917 .elementor-element.elementor-element-ca75d86::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 60%;
    background-color: #F4F7F9;
    border-radius: 0 0 40px 40px;
    pointer-events: none;
}/* End custom CSS */
/* Start custom CSS for slides, class: .elementor-element-ecbe3c3 */.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-button {
    display: none
}
.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-slide-contents {
    display: flex;
    align-items: center;
    gap: 20px;
}
.elementor-5917 .elementor-element.elementor-element-ecbe3c3 img {
    max-width: 20px;
}
.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-slide {
    border-radius: 15px;
    overflow: hidden;
}
.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .elementor-slides-wrapper {
    padding-bottom: 40px !important;
}
.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-slide {
    border: 1px solid #E4E4E4;
    transition: all 0.3s ease;
}
.elementor-5917 .elementor-element.elementor-element-ecbe3c3 .swiper-slide:hover {
    border-color: transparent;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.10);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-c2414fb */.elementor-5917 .elementor-element.elementor-element-c2414fb {
    margin: auto;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-f0d1e7d */.elementor-5917 .elementor-element.elementor-element-f0d1e7d .elementor-widget-wrap {
    transition: all 0.3s ease;
}

.elementor-5917 .elementor-element.elementor-element-f0d1e7d:hover .elementor-widget-wrap {
    border-color: transparent;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1)
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-436acc4 */.elementor-5917 .elementor-element.elementor-element-436acc4 {
    margin: auto;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2d0ce51 */.elementor-5917 .elementor-element.elementor-element-2d0ce51 .elementor-widget-wrap {
    transition: all 0.3s ease;
}

.elementor-5917 .elementor-element.elementor-element-2d0ce51:hover .elementor-widget-wrap {
    border-color: transparent;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1)
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-1f108ae */.elementor-5917 .elementor-element.elementor-element-1f108ae {
    margin: auto;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-08465e4 */.elementor-5917 .elementor-element.elementor-element-08465e4 .elementor-widget-wrap {
    transition: all 0.3s ease;
}

.elementor-5917 .elementor-element.elementor-element-08465e4:hover .elementor-widget-wrap {
    border-color: transparent;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1)
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-bcf3338 */.elementor-5917 .elementor-element.elementor-element-bcf3338 .booking-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    max-width: 641px;
    margin: 0 auto;
    padding: 20px 30px 20px 60px;
    background-color: #F4F7F9;
    border-radius: 40px;
  }

  .elementor-5917 .elementor-element.elementor-element-bcf3338 .booking-sidebar {
    display: flex;
    align-items: center;
  }
  .elementor-5917 .elementor-element.elementor-element-bcf3338 .profile-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .elementor-5917 .elementor-element.elementor-element-bcf3338 .profile-image img {
    width: 217px;
    height: 217px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
  }

  .elementor-5917 .elementor-element.elementor-element-bcf3338 .profile-name {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }

  .elementor-5917 .elementor-element.elementor-element-bcf3338 .contact-icons {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    gap: 15px;
    flex-wrap: wrap;
  }

  .elementor-5917 .elementor-element.elementor-element-bcf3338 .icon-btn {
    width: 44px;
    height: 44px;
    background-color: #f3f4f6;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  .elementor-5917 .elementor-element.elementor-element-bcf3338 .icon-btn:hover {
    transform: translateY(-3px)
  }
  .elementor-5917 .elementor-element.elementor-element-bcf3338 .get-in-touch-btn {
      display: block;
      background-color: #192950;
      color: #fff;
      font-weight: 600;
      border-radius: 100vw;
      padding: 15px 20px;
      margin-top: 26px;
     text-decoration: none;
     transition: all 0.3s ease;
  }
  .elementor-5917 .elementor-element.elementor-element-bcf3338 .get-in-touch-btn:hover {
      background-color: #A6E4FF;
      color: #192950;
  }
    @media (max-width: 1024px) {
        .elementor-5917 .elementor-element.elementor-element-bcf3338 .booking-wrapper {
            justify-content: center;
        }
    }
  @media (max-width: 768px) {
    .elementor-5917 .elementor-element.elementor-element-bcf3338 .booking-wrapper {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    .elementor-5917 .elementor-element.elementor-element-bcf3338 .profile-name {
        font-size: 14px;
    }
    .elementor-5917 .elementor-element.elementor-element-bcf3338 .profile-image img {
        width: 120px;
        height: 123px;
    }
    .elementor-5917 .elementor-element.elementor-element-bcf3338 .booking-sidebar {
        flex-direction: column;
    }
  }/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-e8d1453 */.elementor-5917 .elementor-element.elementor-element-e8d1453 ul {
    padding-left: 20px;
}
.elementor-5917 .elementor-element.elementor-element-e8d1453 ul li::marker {
    font-size: 25px;
}

@media (max-width: 767px) {
    .elementor-5917 .elementor-element.elementor-element-e8d1453 ul li::marker {
        font-size: 20px;
    }
}/* End custom CSS */
/* Start custom CSS for form, class: .elementor-element-f502562 */.elementor-5917 .elementor-element.elementor-element-f502562 .elementor-form-fields-wrapper {
    position: relative;
    align-items: center;
}
.elementor-5917 .elementor-element.elementor-element-f502562 .e-form__buttons {
    position: absolute;
    right: 7px;
    max-width: 110px;
}
.elementor-5917 .elementor-element.elementor-element-f502562 #form-field-email {
    padding: 18px 20px;
    border-radius: 100vw;
    border: 1px solid #E0E0E0;
}
.elementor-5917 .elementor-element.elementor-element-f502562 #form-field-email::placeholder {
    color: #050A21 !important;
}

@media (max-width: 767px) {
    .elementor-5917 .elementor-element.elementor-element-f502562 {
        margin: auto;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-5ea570a */.elementor-element-5ea570a .elementor-widget-wrap {
    flex-wrap: wrap;
    align-items: center;
}
.elementor-element-c7f6d9a {
    max-width: 39%;
}

@media (max-width: 1024px) {
    .elementor-element-c7f6d9a {
    max-width: 100%;
}
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-9f0f427 */.elementor-5917 .elementor-element.elementor-element-9f0f427 {
    margin-left: auto;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-f022fff */@media (max-width: 767px) {
    .elementor-5917 .elementor-element.elementor-element-f022fff .elementor-container  {
        flex-direction: column-reverse;
    }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-393b6b9 */@media (max-width: 767px) {
    .elementor-5917 .elementor-element.elementor-element-393b6b9 {
        flex-grow: 1;
        width: 100%;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-71979d6 */.elementor-5917 .elementor-element.elementor-element-71979d6 {
    margin-inline: auto
}

@media (max-width: 767px) {
    .elementor-5917 .elementor-element.elementor-element-71979d6 {
        margin-inline: 0;
    }
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-ccb3465 */.elementor-5917 .elementor-element.elementor-element-ccb3465 ul li {
    margin-bottom: 10px;
}

@media (max-width: 1600px) {
    .smaller-text {
        font-size: 30px;
    }
}
@media (max-width: 1200px) {
    .smaller-text {
        font-size: 24px;
    }
}
@media (max-width: 767px) {
    .smaller-text {
        font-size: 18px;
    }
}/* End custom CSS */
/* Start custom CSS for eael-info-box, class: .elementor-element-6c24007 */.elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox {
    align-items: start;
    justify-content: start;
}
.elementor-5917 .elementor-element.elementor-element-6c24007 .title {
    margin-bottom: 0
}

@media (max-width: 767px) {
    .elementor-5917 .elementor-element.elementor-element-6c24007 .eael-infobox {
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 10px;
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-6c095ef */.elementor-5917 .elementor-element.elementor-element-6c095ef .booking-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;
    max-width: 641px;
    margin: 0 auto;
    padding: 20px 30px 20px 60px;
    background-color: #F4F7F9;
    border-radius: 40px;
  }

  .elementor-5917 .elementor-element.elementor-element-6c095ef .booking-sidebar {
    display: flex;
    align-items: center;
  }
  .elementor-5917 .elementor-element.elementor-element-6c095ef .profile-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .elementor-5917 .elementor-element.elementor-element-6c095ef .profile-image img {
    width: 217px;
    height: 217px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
  }

  .elementor-5917 .elementor-element.elementor-element-6c095ef .profile-name {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }

  .elementor-5917 .elementor-element.elementor-element-6c095ef .contact-icons {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    gap: 15px;
    flex-wrap: wrap;
  }

  .elementor-5917 .elementor-element.elementor-element-6c095ef .icon-btn {
    width: 44px;
    height: 44px;
    background-color: #f3f4f6;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  .elementor-5917 .elementor-element.elementor-element-6c095ef .icon-btn:hover {
    transform: translateY(-3px)
  }
  .elementor-5917 .elementor-element.elementor-element-6c095ef .get-in-touch-btn {
      display: block;
      background-color: #192950;
      color: #fff;
      font-weight: 600;
      border-radius: 100vw;
      padding: 15px 20px;
      margin-top: 26px;
     text-decoration: none;
     transition: all 0.3s ease;
  }
  .elementor-5917 .elementor-element.elementor-element-6c095ef .get-in-touch-btn:hover {
      background-color: #A6E4FF;
      color: #192950;
  }
    @media (max-width: 1024px) {
        .elementor-5917 .elementor-element.elementor-element-6c095ef .booking-wrapper {
            justify-content: center;
        }
    }
  @media (max-width: 768px) {
    .elementor-5917 .elementor-element.elementor-element-6c095ef .booking-wrapper {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    .elementor-5917 .elementor-element.elementor-element-6c095ef .profile-name {
        font-size: 14px;
    }
    .elementor-5917 .elementor-element.elementor-element-6c095ef .profile-image img {
        width: 120px;
        height: 123px;
    }
    .elementor-5917 .elementor-element.elementor-element-6c095ef .booking-sidebar {
        flex-direction: column;
    }
  }/* End custom CSS */
/* Start custom CSS for testimonial-carousel, class: .elementor-element-9f76606 */.elementor-5917 .elementor-element.elementor-element-9f76606 .swiper {
    position: relative;
    padding-bottom: 0 !important;
}
.elementor-5917 .elementor-element.elementor-element-9f76606 .swiper-pagination {
    position: absolute;
    bottom: 0 !important;
}
.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial {
    align-items: center;
}
.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__footer {
    width: 50%;
}
.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__image img {
    width: 100%;
    height: auto;
    border-radius: 0 !important;
}
.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__content {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-bottom: 50px;
}
.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__content::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 82px;
    height: 63px;
    background-image: url('/wp-content/uploads/2025/08/Vector-2025-08-02T090341.952.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__content::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 82px;
    height: 63px;
    background-image: url('/wp-content/uploads/2025/08/Vector-2025-08-02T090346.218.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__cite {
    gap: 75px;
    margin-bottom: 25px;
}
.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__name {
    font-style: normal;
    width: 72%;
    margin-left: auto;
}
.elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__text {
    text-align: left;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__cite {
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
     .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__footer {
        width: 40%;
    }
     .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__content::before {
        width: 60px;
    }
    .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__content::after {
        width: 60px;
    }
    .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__name {
        font-style: normal;
        width: 80%;
    }
    .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__content {
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__cite {
        margin-top: 0;
    }
     .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__content {
        margin-bottom: 0;
    }
    .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__name {
        font-style: normal;
        width: 80%;
        text-align: left;
        padding-left: 10px;
    }
    .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial {
        flex-direction: column;
    }
    .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__content::before {
        width: 50px;
    }
    .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__content::after {
        width: 50px;
    }
    .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__footer {
        width: 100%;
    }
    .elementor-5917 .elementor-element.elementor-element-9f76606 .elementor-testimonial__title {
        width: 129px;
    }
    .elementor-5917 .elementor-element.elementor-element-9f76606 .swiper-slide {
        padding: 20px 10px 0 !important;
    }
}/* End custom CSS */
/* Start custom CSS */html.hidden {
    overflow: hidden !important;
}

@media (max-width: 767px) {
    .joinchat__button {
        width: 50px !important;
        min-width: 50px !important;
        height: 50px !important; 
    }
    .joinchat__button__open {
        width: 50px !important;
        height: 50px !important;
    }
}/* End custom CSS */